# ---- .NET ----
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
appsettings.*.local.json

# ---- EF / SQL ----
*.mdf
*.ldf

# ---- SQLite ----
*.db
*.db-shm
*.db-wal

# ---- Node / Angular ----
node_modules/
dist/
.angular/
npm-debug.log*
*.tsbuildinfo

# ---- IDE / OS ----
.idea/
*.DS_Store
Thumbs.db

# ---- Secrets ----
secrets.json
